<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibf.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".ui.usuarios.MembrosRedeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.EstatisticasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.configuracoes.EditarRedeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dashboard.LiderDashboardActivity" />
        <activity android:name=".ui.dashboard.PastorDashboardActivity" />
        <activity android:name=".ui.dashboard.SecretarioDashboardActivity" />
        <activity android:name=".ui.graficos.LiderGraficosActivity" />
        <activity android:name=".ui.relatorios.LiderStatusRelatoriosActivity" />
        <activity android:name=".ui.configuracoes.ConfiguracoesRedeActivity" />
        <activity android:name=".ui.usuarios.CadastroUsuarioActivity" />
        <activity android:name=".ui.usuarios.ListaUsuariosRedeActivity" />
        <activity android:name=".ui.main.HomeActivity" />
        <activity android:name=".ui.relatorios.FormularioRedeActivity" />
        <activity android:name=".ui.usuarios.SolicitacaoCadastroActivity" />
        <activity android:name=".ui.usuarios.DetalhesUsuarioActivity" />
        <activity android:name=".ui.perfil.PerfilActivity" />
        <activity android:name=".ui.usuarios.FichaMembroActivity" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>