<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBFAPP"
        tools:targetApi="31">
        <activity
            android:name=".LiderGraficosActivity" />
        <activity
            android:name=".item_status_relatorio"
            android:exported="false" />
        <activity
            android:name=".LiderStatusRelatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".sheet_selecionar_relatorio"
            android:exported="false" />
        <activity
            android:name=".SelecionarRelatorioActivity"
            android:exported="false" />
        <activity
            android:name=".FormularioRedeActivity"
            android:exported="false" />
        <activity
            android:name=".SecretarioDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LiderDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".PastorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>